<nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li><a href="#">BestMvcTemplate</a></li>
                </ul>
            </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                    {{#if isAuth}}
                    <li><a href="#">{{username}}</a></li>
                    <li><a href="/login/logout">Logout</a></li>
                    {{else}} 
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                
            </ul>
        </div>
</nav>
