<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="assets/scripts/lib/jquery-3.3.1.min.js"></script>
    <link href="assets/styles/uikit.css" rel="stylesheet">
    <script src="assets/scripts/lib/uikit.js"></script>
    <script src="assets/scripts/lib/uikit-icons.min.js"></script>
</head>

<body>
    <h5>Ooops...Server error</h5>
    <div>
        {{{body}}}
    </div>

</body>

</html>